[submodule "Dependencies/ELFIO"]
	path = Dependencies/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "Dependencies/SDL"]
	path = Dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git
